{% extends "base.html" %}

{% block content %}

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <form method="POST"
          oninput='confpassword.setCustomValidity(confpassword.value != password.value ? "Passwords do not match." : "")'>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Full Name</span>
            </label>
            <input type="text" name="fullname" id="fullname" placeholder="full name" class="input input-bordered">
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Username</span>
            </label>
            <input type="text" name="username" id="username" placeholder="@username" class="input input-bordered">
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="text" name="email" id="email" placeholder="email" class="input input-bordered">
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" name="password" id="password" placeholder="Password" class="input input-bordered">
            <label class="label">
              <span class="label-text">Confirm Password</span>
            </label>
            <input type="password" name="confpassword" id="password2" placeholder="Confirm Password"
              class="input input-bordered">
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Gender</span>
            </label>
            <select class="select select-bordered w-full max-w-xs" name="gender" id="gender">
              <option disabled selected>Select Gender</option>
              <option>Male</option>
              <option>Female</option>
              <option>Non-binary</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Birthday</span>
            </label>
            <input type="date" name="birthday" id="birthday" class="input input-bordered">
          </div>
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">I accept the <br /> term and conditions</span>
              <input type="checkbox" name="T&C" id="T&C" class="checkbox checkbox-primary">
            </label>
          </div>
          <div class="form-control">
            <label class="label">
              <a href="/login" class="label-text-alt link link-hover">Already have an account?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}