flask
gunicorn
python-dotenv
peewee
psycopg2-binary
git+https://github.com/maxcountryman/flask-login.git
werkzeug
boto3
flask_socketio
flask-moment
git+https://github.com/acrcloud/acrcloud_sdk_python
simple-websocket
librosa
matplotlib
wheel
ipython
eventlet
gevent-websocket