<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-md">
    <a class="navbar-brand" href="#">KMPSR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      </ul>
      <br>
        {% if current_user.is_authenticated %}
        <form class="d-flex" action="{{ url_for('search.search_query') }}">
          <input class="form-control me-2 mySearch" type="search" placeholder="Search" name="search" id="search"
            aria-label="Search">
        </form>
        {% endif %}
    </div>
  </div>
</nav>