{% extends "base.html" %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">

            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Chat Room</h5>
                    <ul id="messages" class="list-group list-group-flush">
                        {% for message in messages %}
                        <li> {{message}} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="myMessage" class="form-label">Send Message</label>
                <input type="text" class="form-control" id="myMessage" name="myMessage"
                    placeholder="Input your message">
            </div>

            <button type="button" id="sendmessage" class="btn btn-primary">Send</button>

        </div>
    </div>
</div>

{% endblock %}