{% if current_user.hasUserLiked(post.id) %}
<a href="{{url_for('profile.like_action', post_id=post.id, action='unlike')}}" post_id="unlike_{{post.id}}"
    class="btn btn-secondary-outline btn-sm text-gray-dark unlike">
    <i class="bi bi-hand-thumbs-up-fill"></i> You & {{post.numLikes}}
    Others Liked
</a>

{% else %}

{% if post.numLikes == 0 %}

<a href="{{url_for('profile.like_action', post_id=post.id, action='like')}}" post_id="like_{{post.id}}"
    class="btn btn-secondary-outline btn-sm text-gray-dark like">
    <i class="bi bi-hand-thumbs-up"></i> Like
</a>

{% else %}

<a href="{{url_for('profile.like_action', post_id=post.id, action='like')}}" post_id="like_{{post.id}}"
    class="btn btn-secondary-outline btn-sm text-gray-dark like">
    <i class="bi bi-hand-thumbs-up"></i> {{post.numLikes}} Likes
</a>

{% endif %}

{% endif %}

{% if post.numComments == 0 %}

<a href="/comment/{{post.id}}" class="btn btn-secondary-outline btn-sm text-gray-dark">
    <i class="bi bi-chat"></i> Comment
</a>

{% else %}

<a href="/comment/{{post.id}}" class="btn btn-secondary-outline btn-sm text-gray-dark">
    <i class="bi bi-chat"></i> Comments
</a>

{% endif %}