{% extends "base.html" %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">


            {% for p in stream %}

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <span class="float-start">
                            <h1><i class="bi bi-person-circle"></i></h1>
                        </span>
                        <span id="profileInfo" class="float-start">
                            <a class="profileLinkClass" href="/" style="text-decoration: none; color:black;">
                                <p> {{ p.user_id.fullname }}<br>
                            </a>
                            <button class="btn btn-outline-success btn-sm rounded-pill"><i class="bi bi-at"></i>{{
                                p.user_id.username }}</button>
                            {% if not p.user in current_user.following() %}

                            <a href="/" class="btn btn-outline-primary btn-sm rounded-pill"><i
                                    class="bi bi-person-plus"></i>
                                Follow</a>

                            {% else %}

                            <a href="/" class="btn btn-outline-danger btn-sm rounded-pill"><i
                                    class="bi bi-person-dash"></i>
                                Unfollow</a>

                            {% endif %}
                            </p>
                        </span>
                        <span class="time float-end" id="postTime"> <time data-time="{{ format(p.timestamp) }}"
                                class="distime" datetime="{{ format(p.timestamp) }}"><i class="bi bi-clock"></i> {{
                                format(p.timestamp)
                                }}</time></span>
                    </div>
                    {% if p.isMedia == 1 %}
                    <img src="..." class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <a href="/post/{{p.id}}" style="text-decoration: none; color:black;">
                            <p>{{ p.content }}</p>
                        </a>
                    </div>
                    <div class="card-footer">
                        <span class="float-start">
                            <i class="bi bi-hand-thumbs-up-fill"></i> 17 likes
                        </span>
                        <span class="float-end">
                            <i class="bi bi-chat-left-text-fill"></i> 3 comments
                        </span>
                    </div>
                    <div class="card-footer">
                        <span class="float-start">
                            <a href="/" class="btn btn-outline-primary btn-sm rounded-pill"><i
                                    class="bi bi-hand-thumbs-up"></i>
                                Like</a>
                        </span>
                        <span class="float-end">
                            <a href="/post/{{p.id}}" class="btn btn-outline-primary btn-sm rounded-pill"><i
                                    class="bi bi-chat-left-text"></i>
                                Comment</a>
                        </span>
                    </div>
                </div>
            </div>

            <hr>

            {% endfor %}

            <form method="POST" action="" class="form">
                <div class="mb-3">
                    <label for="content" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="content" name="content" placeholder="Your opinion?"
                        rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <hr>

            {% for comment in comments %}

            <div class="card">
                <div class="card-header">
                    <span class="float-start">
                        <h1><i class="bi bi-person-circle"></i></h1>
                    </span>
                    <span id="profileInfo" class="float-start">
                        <a class="profileLinkClass" href="/" style="text-decoration: none; color:black;">
                            <p> {{ comment.user_id.fullname }}<br>
                        </a>
                        <button class="btn btn-outline-success btn-sm rounded-pill"><i class="bi bi-at"></i>{{
                            comment.user_id.username }}</button>
                        {% if not comment.user in current_user.following() %}

                        <a href="/" class="btn btn-outline-primary btn-sm rounded-pill"><i
                                class="bi bi-person-plus"></i>
                            Follow</a>

                        {% else %}

                        <a href="/" class="btn btn-outline-danger btn-sm rounded-pill"><i class="bi bi-person-dash"></i>
                            Unfollow</a>

                        {% endif %}
                        </p>
                    </span>
                    <span class="time float-end" id="postTime"> <time data-time="{{ format(comment.timestamp) }}"
                            class="distime" datetime="{{ format(comment.timestamp) }}"><i class="bi bi-clock"></i> {{
                            format(comment.timestamp)
                            }}</time></span>
                </div>
                <div class="card-body">
                    <p>{{ comment.comment }}</p>
                </div>
            </div>
            <hr>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}