{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">

      <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="modal"
        data-bs-target="#postModal">Create New
        Post</button>

      <hr />

      <!-- New Post Modal -->
      <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create new post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" enctype="multipart/form-data"
                action="/new_post">
                <div class="mb-3">
                  <label for="content" class="form-label">Post Content</label>
                  <textarea class="form-control" id="content" name="content" placeholder="What's popping?"
                    rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="media" class="form-label">Upload Photo or Video</label>
                  <!--<input class="form-control" type="file" id="media" name="media">-->
                  <input class="form-control" type="file" id="media" name="media">
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Create Post</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="w-100 btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Register</button> -->
            </div>
          </div>
        </div>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for p in stream %}

            <div class="col">
              <div class="card">
                <div class="card-header">
                  <span class="float-start">
                    <h1><i class="bi bi-person-circle"></i></h1>
                  </span>
                  <span id="profileInfo" class="float-start">
                    <a class="profileLinkClass" href="" style="text-decoration: none; color:black;">
                      <p> {{ p.user.fullname }}<br>
                    </a>
                    <button class="btn btn-outline-success btn-sm rounded-pill"><i class="bi bi-at"></i>{{
                      p.user.username }}</button>
                    {% if p.user != current_user %}
                    {% if not p.user in current_user.following() %}

                    <a href="{{ url_for('profile.follow', username=p.user.username) }}"
                      class="btn btn-outline-primary btn-sm rounded-pill"><i class="bi bi-person-plus"></i>
                      Follow</a>

                    {% else %}

                    <a href="{{ url_for('profile.unfollow', username=p.user.username) }}"
                      class="btn btn-outline-danger btn-sm rounded-pill"><i class="bi bi-person-dash"></i>
                      Unfollow</a>

                    {% endif %}
                    {% endif %}

                    {% if p.user == current_user %}

                    <button data-bs-toggle="modal" data-bs-target="#editPostPostModal{{ p.id }}"
                      class="btn btn-outline-primary btn-sm rounded-pill"><i class="bi bi-pencil"></i>
                      Edit</button>

                    {% endif %}

                    </p>
                  </span>
                  <span class="time float-end" id="postTime"> <time data-time="{{ format(p.pub_date) }}" class="distime"
                      datetime="{{ format(p.pub_date) }}"><i class="bi bi-clock"></i> {{ format(p.pub_date)
                      }}</time></span>
                </div>
                {% if p.isMedia == 1 %}
                <img src="https://fypkmpsr.s3.eu-west-1.amazonaws.com/{{ p.media }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                  <a href="/post/{{p.id}}" style="text-decoration: none; color:black;">
                    <p>{{ p.content }}</p>
                  </a>
                </div>
                <div class="card-footer">
                  <span class="float-start">
                    <i class="bi bi-hand-thumbs-up"></i> {{ p.numLikes }} Likes
                  </span>
                  <span class="float-end">
                    <i class="bi bi-chat-left-text"></i> {{ p.numComments }} Comments
                  </span>
                </div>
                <div class="card-footer text-muted">
                  {% if current_user.hasUserLiked(p.id) %}
                  <span class="float-start">
                    <a href="/unlike/{{p.id}}" class="btn btn-outline-primary btn-sm rounded-pill"><i
                        class="bi bi-hand-thumbs-up-fill"></i>
                      Unlike</a>
                  </span>
                  {% else %}
                  <span class="float-start">
                    <a href="/like/{{p.id}}" class="btn btn-outline-primary btn-sm rounded-pill" data-id="{{p.id}}"><i
                        class="bi bi-hand-thumbs-up"></i>
                      Like</a>
                  </span>
                  {% endif %}
                  <span class="float-end">
                    <a href="/post/{{p.id}}" class="btn btn-outline-primary btn-sm rounded-pill"><i
                        class="bi bi-chat-left-text"></i>
                      Comment</a>
                  </span>
                </div>
              </div>
            </div>



            <div class="modal fade" id="editPostModal{{ p.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" enctype="multipart/form-data"
                      action="/edit_post/media=null/{{p.id}}">
                      <div class="mb-3">
                        <label for="content" class="form-label">Post Content</label>
                        <textarea class="form-control" id="content" name="content" rows="3">{{ p.content }}</textarea>
                      </div>
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Update Post</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="w-100 btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Register</button> -->
                  </div>
                </div>
              </div>
            </div>


            <div class="modal fade" id="editPostPostModal{{ p.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" enctype="multipart/form-data"
                      action="/edit_post/media=null/{{p.id}}">
                      <div class="mb-3">
                        <label for="content" class="form-label">Post Content</label>
                        <textarea class="form-control" id="content" name="content" rows="3">{{ p.content }}</textarea>
                      </div>
                      {% if p.isMedia == 1 %}
                      <div class="mb-3">
                        <label for="media" class="form-label">Upload Photo or Video</label>
                        <input class="form-control" type="file" id="media" name="media">
                        <!--<input type="file" name="media">-->
                      </div>
                      {% endif %}
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Update Post</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="w-100 btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Register</button> -->
                  </div>
                </div>
              </div>
            </div>



            <div class="modal fade" id="editMediaPostModal{{ p.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" enctype="multipart/form-data"
                      action="/edit_post/media=true/{{p.id}}">
                      <div class="mb-3">
                        <label for="content" class="form-label">Post Content</label>
                        <textarea class="form-control" id="content" name="content" rows="3">{{ p.content }}</textarea>
                      </div>
                      <div class="mb-3">
                        <label for="media" class="form-label">Upload Photo or Video</label>
                        <!--<input class="form-control" type="file" id="media" name="media">-->
                        <input type="file" name="media">
                      </div>
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Update Post</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="w-100 btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Register</button> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="deletePostModal{{ p.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure?</p>
                    <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" enctype="multipart/form-data"
                      action="/delete_post/media=null/{{ p.id }}">
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Delete Post</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="w-100 btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Register</button> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="deleteMediaPostModal{{ p.id }}" tabindex="-1"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure?</p>
                    <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" enctype="multipart/form-data"
                      action="/delete_post/media=true/{{ p.id }}">
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Delete Post</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="w-100 btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Register</button> -->
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>


    </div>
  </div>
</div>


{% endblock %}