html, body {
  height: 100%;
  background-color: #F5F5F5;
}

#vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* https://stackoverflow.com/questions/37391541/how-to-make-nav-fixed-top-push-down-content-like-non-fixed-navbar */
nav.navbar-fixed-top {
  position:fixed;
  top:0;
}

body::before {
  display:block;
  content: '';
  height:60px; /* or whatever */
}

.alert {
  width:75%;    
}

/* https://www.codeply.com/p/w5ZxAjmjpo */
* {
  border-radius: 5px;
}

body.thumb {
  transform: scale(0.4);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

main {
  min-height: 80vh;
}

/*
[class*='container'] {
  border: 1px dashed #eee;
  background-clip: content-box;
}

.row [class*='col'] {
  background-color: #efefef;
  background-clip: content-box;
}
*/

/*
.nav-item {
  background-color: #eeeeff;
  background-clip: content-box;
}
*/