@font-face {
  font-family: 'Horizon'; 
  src: url('../fonts/Horizon/Horizon.otf') 
}

@font-face {
  font-family: 'Lovelo'; 
  src: url('../fonts/Lovelo/Lovelo/Commercial/OTF/Lovelo-Black.otf') 
}

@font-face {
  font-family: 'Null'; 
  src: url('../fonts/Null/Null/Commercial/OTF/Null-Normal.otf') 
}

@font-face {
  font-family: 'Quicksand'; 
  src: url('../fonts/Quicksand/static/Quicksand-Medium.ttf') 
}

@font-face {
  font-family: 'Track'; 
  src: url('../fonts/Track/Track/Commercial/OTF/Track-Regular.otf') 
}

@font-face {
  font-family: 'Horizon-Regular'; 
  src: url('../fonts/horizon-regular/Horizon-PersonalUse.otf') 
}

@font-face {
  font-family: 'Batangas'; 
  src: url('../fonts/batangas/Batangas.otf')
}

@font-face {
  font-family: 'Bungee'; 
  src: url('../fonts/Bungee/Bungee-Regular.ttf') 
}

@font-face {
  font-family: 'Intro'; 
  src: url('../fonts/intro/Intro.otf') 
}

html, body {
  font-family: Intro;
}

.alert {
  width:75%;    
}

/* https://stackoverflow.com/questions/67952873/customizing-bootstrap-5-button-colors-and-properties-in-it */

.btn-secondary-outline {
  color: gray !important;
  font-weight: bold;    
}

container {
  position: relative;
  width: 50%;
}

.audioImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .audioImage {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #0d6efd;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}