@font-face {
  font-family: 'Horizon'; 
  src: url('../fonts/Horizon/Horizon.otf') 
}

@font-face {
  font-family: 'Lovelo'; 
  src: url('../fonts/Lovelo/Lovelo/Commercial/OTF/Lovelo-Black.otf') 
}

@font-face {
  font-family: 'Null'; 
  src: url('../fonts/Null/Null/Commercial/OTF/Null-Normal.otf') 
}

@font-face {
  font-family: 'Quicksand'; 
  src: url('../fonts/Quicksand/static/Quicksand-Medium.ttf') 
}

@font-face {
  font-family: 'Track'; 
  src: url('../fonts/Track/Track/Commercial/OTF/Track-Regular.otf') 
}

@font-face {
  font-family: 'Horizon-Regular'; 
  src: url('../fonts/horizon-regular/Horizon-PersonalUse.otf') 
}

@font-face {
  font-family: 'Batangas'; 
  src: url('../fonts/batangas/Batangas.otf')
}

@font-face {
  font-family: 'Bungee'; 
  src: url('../fonts/Bungee/Bungee-Regular.ttf') 
}

@font-face {
  font-family: 'Intro'; 
  src: url('../fonts/intro/Intro.otf') 
}

html, body {
  height: 100%;
  background-color: #F5F5F5;
  font-family: Intro;
}

#vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* https://stackoverflow.com/questions/37391541/how-to-make-nav-fixed-top-push-down-content-like-non-fixed-navbar */
nav.navbar-fixed-top {
  position:fixed;
  top:0;
}

body::before {
  display:block;
  content: '';
  height:60px; /* or whatever */
}

.alert {
  width:75%;    
}

/* https://www.codeply.com/p/w5ZxAjmjpo */
* {
  border-radius: 5px;
}

body.thumb {
  transform: scale(0.4);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

main {
  min-height: 80vh;
}

/*
[class*='container'] {
  border: 1px dashed #eee;
  background-clip: content-box;
}

.row [class*='col'] {
  background-color: #efefef;
  background-clip: content-box;
}
*/

/*
.nav-item {
  background-color: #eeeeff;
  background-clip: content-box;
}
*/

/* https://stackoverflow.com/questions/25036597/how-to-enlarge-an-image-on-hover-or-click */

img {
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(1.5);
}


.card-img-top {
  width: 50%;
  height: 10vw;
  object-fit: cover;
}

/* https://stackoverflow.com/questions/67952873/customizing-bootstrap-5-button-colors-and-properties-in-it */

.btn-secondary-outline {
  color: gray !important;
  font-weight: bold;    
} 
