{% extends "base.html" %}

{% block title %}Search - {{searched}} {% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">

            <h3><i class="bi bi-search"></i> Searched for <i>{{query}}</i></h3>

            <br />

            <ul class="nav nav-pills nav-fill nav-justified mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-users-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users"
                        aria-selected="true"><i class="bi bi-people"></i> Users</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-posts-tab" data-bs-toggle="pill" data-bs-target="#pills-posts"
                        type="button" role="tab" aria-controls="pills-posts" aria-selected="false"><i class="bi bi-text-paragraph"></i> Posts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-songs-tab" data-bs-toggle="pill" data-bs-target="#pills-songs"
                        type="button" role="tab" aria-controls="pills-songs" aria-selected="false"><i class="bi bi-music-note-beamed"></i> Songs</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-users" role="tabpanel"
                    aria-labelledby="pills-users-tab">

                    {% if not users_result %}

                    <p>No results</p>

                    {% endif %}

                    {% for user in users_result %}

                    <div class="d-flex text-muted pt-3">

                        {% if user.profile_picture == "" %}

                        <img src="../../static/images/deafult_profile_picture.png"
                            class="bd-placeholder-img flex-shrink-0 me-2 rounded" height="32" width="32"
                            alt="Default Profile Picture" role="img" aria-label="Placeholder: 32x32"
                            preserveAspectRatio="xMidYMid slice" focusable="false">

                        {% else %}

                        <img src="{{user.profile_picture}}" class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                            height="32" width="32" alt="{{user.username}}" role="img" aria-label="Placeholder: 32x32"
                            preserveAspectRatio="xMidYMid slice" focusable="false">

                        {% endif %}

                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">{{user.fullname}}<span
                                        class="d-block"><i>@{{user.username}}</i></span></strong>
                                {% if user != current_user %}
                                {% if not user in current_user.following() %}

                                <a href="{{ url_for('profile.follow', username=user.username) }}"
                                    class="btn btn-secondary-outline btn-sm text-gray-dark"><i
                                        class="bi bi-person-plus"></i>Follow</a>

                                {% else %}

                                <a href="{{ url_for('profile.unfollow', username=user.username) }}"
                                    class="btn btn-secondary-outline btn-sm text-gray-dark"><i
                                        class="bi bi-person-dash"></i>Unfollow</a>

                                {% endif %}
                                {% endif %}
                            </div>
                            <!--<span class="d-block">@{{user.username}}</span>-->
                        </div>
                    </div>

                    {% endfor %}

                </div>
                <div class="tab-pane fade" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">

                    {% if not posts_result %}

                    <p>No results</p>

                    {% endif %}

                    {% for post in posts_result %}

                    <div class="d-flex text-muted pt-3">

                        {% if post.user.profile_picture == "" %}

                        <img src="../../static/images/deafult_profile_picture.png"
                            class="bd-placeholder-img flex-shrink-0 me-2 rounded" height="32" width="32"
                            alt="Default Profile Picture" role="img" aria-label="Placeholder: 32x32"
                            preserveAspectRatio="xMidYMid slice" focusable="false">

                        {% else %}

                        <img src="{{user.profile_picture}}" class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                            height="32" width="32" alt="{{user.username}}" role="img" aria-label="Placeholder: 32x32"
                            preserveAspectRatio="xMidYMid slice" focusable="false">

                        {% endif %}

                        <p class="pb-3 mb-0 small lh-sm border-bottom">
                            <strong class="d-block text-gray-dark">
                                {{post.user.fullname}} <i> @{{post.user.username}} </i>
                                <button type="button" class="btn btn-secondary-outline btn-sm">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-secondary-outline btn-sm">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </strong>
                            <i class="d-block text-gray-dark"><i class="bi bi-clock"></i>
                                {{moment(post.pub_date).fromNow()}}</i>
                            {{post.content}}

                            {% if post.isMedia == 1 %}

                            <a href="https://fypkmpsr.s3.eu-west-1.amazonaws.com/{{post.media}}" target="_blank">
                                <img class="img-fluid" style="display:block"
                                    src="https://fypkmpsr.s3.eu-west-1.amazonaws.com/{{post.media}}"
                                    alt="{{post.media}}">
                            </a>

                            {% endif %}

                            <strong class="d-block text-gray-dark" id="result{{post.id}}">

                                {% if current_user.hasUserLiked(post.id) %}
                                <a href="{{url_for('profile.like_action', post_id=post.id, action='unlike')}}"
                                    post_id="unlike_{{post.id}}"
                                    class="btn btn-secondary-outline btn-sm text-gray-dark unlike">
                                    <i class="bi bi-hand-thumbs-up-fill"></i> You & {{post.numLikes}}
                                    Others Liked
                                </a>

                                {% else %}

                                {% if post.numLikes == 0 %}

                                <a href="{{url_for('profile.like_action', post_id=post.id, action='like')}}"
                                    post_id="like_{{post.id}}"
                                    class="btn btn-secondary-outline btn-sm text-gray-dark like">
                                    <i class="bi bi-hand-thumbs-up"></i> Like
                                </a>

                                {% else %}

                                <a href="{{url_for('profile.like_action', post_id=post.id, action='like')}}"
                                    post_id="like_{{post.id}}"
                                    class="btn btn-secondary-outline btn-sm text-gray-dark like">
                                    <i class="bi bi-hand-thumbs-up"></i> {{post.numLikes}} Likes
                                </a>

                                {% endif %}

                                {% endif %}

                                {% if post.numComments == 0 %}

                                <a href="/comment/{{post.id}}" class="btn btn-secondary-outline btn-sm text-gray-dark">
                                    <i class="bi bi-chat"></i> Comment
                                </a>

                                {% else %}

                                <a href="/comment/{{post.id}}" class="btn btn-secondary-outline btn-sm text-gray-dark">
                                    <i class="bi bi-chat"></i> Comments
                                </a>

                                {% endif %}

                            </strong>
                        </p>

                    </div>

                    {% endfor %}

                </div>
                <div class="tab-pane fade" id="pills-songs" role="tabpanel" aria-labelledby="pills-songs-tab">

                    {% if not songs_result %}

                    <p>No results</p>

                    {% endif %}

                    <div class="row">

                        {% for song in songs_result %}

                        <input type="hidden" id="count" name="count" value="{{song_count}}">

                        <div class="d-flex text-muted pt-3">
                            <div class="card border-secondary mb-3" style="max-width: 32rem;">
                                <div class="card-body text-secondary small lh-sm">
                                    <p class="card-text">
                                        <strong class="d-block text-gray-dark">
                                            {% if song.user.profile_picture == "" %}

                                            <img src="../../static/images/deafult_profile_picture.png"
                                                class="bd-placeholder-img flex-shrink-0 me-2 rounded" height="32"
                                                width="32" alt="Default Profile Picture" role="img"
                                                aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"
                                                focusable="false">

                                            {% else %}

                                            <img src="{{user.profile_picture}}"
                                                class="bd-placeholder-img flex-shrink-0 me-2 rounded" height="32"
                                                width="32" alt="{{user.username}}" role="img"
                                                aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"
                                                focusable="false">

                                            {% endif %}

                                            {{song.user.fullname}} <i> @{{song.user.username}} </i>
                                            <button type="button" class="btn btn-secondary-outline btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary-outline btn-sm">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </strong>

                                        <i class="d-block text-gray-dark"><i class="bi bi-clock"></i>
                                            {{moment(song.date_uploaded).format("LL")}}</i>

                                        <strong class="d-block text-gray-dark">
                                            <i class="bi bi-vinyl"></i> {{song.artist}}

                                            - {{song.title}}

                                            {% if song.feature != "" %}

                                            <i> (feat. {{song.feature}})</i>

                                            {% endif %}

                                            <i>#{{song.genre}}</i>
                                        </strong>
                                        <img src="https://fypkmpsr.s3.eu-west-1.amazonaws.com/{{song.artwork}}"
                                            class="img-fluid" alt="{{song}}">
                                        <audio id="audio" src="/play/{{song.id}}" type="audio/wav"></audio>
                                        <progress min="0" max="100" value="0"></progress>
                                        <button type="button" class="btn btn-secondary-outline playPauseAudio"
                                            data-id="{{ song.id }}">
                                            <i class="bi bi-play"></i> | <i class="bi bi-pause"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary-outline" onclick="muteAudio()">
                                            <i class="bi bi-volume-mute"></i>
                                        </button>
                                        <input type="range" class="form-range" id="customRange1"
                                            onclick="changeVolume()">

                                    <div id="waveform2{{song.id}}"></div>

                                    <button type="button" class="btn btn-secondary-outline text-gray-dark">
                                        <i class="bi bi-skip-backward" aria-hidden="true"
                                            onClick="wavesurfer2{{song.id}}.skipBackward()"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary-outline text-gray-dark playPause">
                                        <i class="bi bi-play" aria-hidden="true"
                                            onClick="wavesurfer2{{song.id}}.playPause()"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary-outline text-gray-dark">
                                        <i class="bi bi-skip-forward" aria-hidden="true"
                                            onClick="wavesurfer2{{song.id}}.skipForward()"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary-outline text-gray-dark">
                                        <i class="bi bi-stop" aria-hidden="true"
                                            onClick="wavesurfer2{{song.id}}.stop()"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary-outline text-gray-dark muteUnmute">
                                        <i class="bi bi-volume-up" aria-hidden="true"
                                            onClick="wavesurfer2{{song.id}}.toggleMute()"></i>
                                    </button>

                                    <script>
                                        var wavesurfer2{{ song.id }} = WaveSurfer.create({
                                            container: '#waveform2{{song.id}}',
                                            waveColor: 'blue',
                                            progressColor: 'navy',
                                            backend: 'MediaElementWebAudio',
                                            barGap: 2,
                                            barHeight: 2,
                                            barMinHeight: 1,
                                            barRadius: 2,
                                            barWidth: 2,
                                            height: 64,
                                            normalize: true,
                                            partialRender: true,
                                            responsive: true,
                                        });
                        
                                        wavesurfer2{ { song.id } }.load('play/{{song.id}}');

                                    </script>


                                    <strong class="d-block text-gray-dark">

                                        {% if song.numFavorites == 0 %}

                                        <button type="button" class="btn btn-secondary-outline btn-sm text-gray-dark">
                                            <i class="bi bi-hand-thumbs-up"></i> Like
                                        </button>

                                        {% else %}

                                        <button type="button" class="btn btn-secondary-outline btn-sm text-gray-dark">
                                            <i class="bi bi-hand-thumbs-up"></i> Likes
                                        </button>

                                        {% endif %}

                                        {% if song.numComments == 0 %}

                                        <button type="button" class="btn btn-secondary-outline btn-sm text-gray-dark">
                                            <i class="bi bi-chat"></i> Comment
                                        </button>

                                        {% else %}

                                        <button type="button" class="btn btn-secondary-outline btn-sm text-gray-dark">
                                            <i class="bi bi-chat"></i> Comments
                                        </button>

                                        {% endif %}

                                    </strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}