{% extends "base.html" %}

{% block title %}Search - {{searched}} {% endblock %}

{% block content %}

            <h3><i class="bi bi-search"></i> Searched for <i>{{query}}</i></h3>

            <br />

            <ul class="nav nav-pills nav-fill nav-justified mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-users-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users"
                        aria-selected="true"><i class="bi bi-people"></i> Users</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-posts-tab" data-bs-toggle="pill" data-bs-target="#pills-posts"
                        type="button" role="tab" aria-controls="pills-posts" aria-selected="false"><i
                            class="bi bi-text-paragraph"></i> Posts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-songs-tab" data-bs-toggle="pill" data-bs-target="#pills-songs"
                        type="button" role="tab" aria-controls="pills-songs" aria-selected="false"><i
                            class="bi bi-music-note-beamed"></i> Songs</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-users" role="tabpanel"
                    aria-labelledby="pills-users-tab">

                    {% if not users_result %}

                    <p>No results</p>

                    {% endif %}

                    {% for user in users_result %}

                    {% include 'partials/user-follow.html' %}

                    {% endfor %}

                </div>
                <div class="tab-pane fade" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">

                    {% if not posts_result %}

                    <p>No results</p>

                    {% endif %}

                    {% for post in posts_result %}

                    {% include 'partials/post-tag.html' %}

                    {% endfor %}

                </div>
                <div class="tab-pane fade" id="pills-songs" role="tabpanel" aria-labelledby="pills-songs-tab">

                    {% if not songs_result %}

                    <p>No results</p>

                    {% endif %}

                    <div class="row">

                        {% for song in songs_result %}

                        {% include 'partials/song-card.html' %}

                        {% endfor %}

                    </div>
                </div>
            </div>


{% endblock %}