<option>House</option>
<option>Deep House</option>
<option>Deep Tech House</option>
<option>Slap House</option>
<option>Pop</option>
<option>Rap</option>
<option>Trap</option>
<option>Dance</option>
<option>Disco</option>
<option>Techno</option>
<option>Drum & Bass</option>
<option>Dubstep</option>
<option>Trance</option>
<option>Reggae</option>
<option>Rock</option>
<option>Metal</option>
<option>Jazz</option>
<option>Classical</option>
<option>Blues</option>
<option>Country</option>
<option>Folk</option>
<option>Hip Hop</option>
<option>R&B</option>
<option>Soul</option>
<option>Reggaeton</option>
<option>Salsa</option>
<option>Samba</option>
<option>Funk</option>
<option>Gospel</option>
<option>Soulful</option>
<option>Punk</option>
<option>Indie</option>
<option>Electronic</option>
<option>Ambient</option>
<option>Acid Jazz</option>
<option>Acid Punk</option>
<option>Acid Rock</option>
<option>Alternative</option>
<option>Bass</option>
<option>Chillout</option>
<option>Classical Guitar</option>
<option>Country Guitar</option>
<option>Folk Guitar</option>
<option>Folk Bass</option>
<option>Folk Rock</option>
<option>Gothic Rock</option>
<option>Grunge</option>
<option>Hard Rock</option>
<option>Heavy Metal</option>
<option>Hip-Hop</option>
<option>Jazz Guitar</option>
<option>Jazz Bass</option>
<option>Jazz Rock</option>
<option>Latin</option>
<option>Metal Guitar</option>
<option>New Age</option>
<option>New Wave</option>
<option>Piano</option>
<option>Pop Guitar</option>
<option>Pop Rock</option>
<option>Progressive Rock</option>
<option>Psychedelic Rock</option>
<option>R&B Guitar</option>
<option>R&B Bass</option>
<option>R&B Rock</option>
<option>Rock & Roll</option>
<option>Rock Guitar</option>
<option>Singer-Songwriter</option>
<option>Ska</option>
<option>Ska Bass</option>
<option>Ska Guitar</option>
<option>Ska Rock</option>
<option>Soundtrack</option>
<option>Synthwave</option>
<option>Piano House</option>
<option>EDM</option>