<option value="House">House</option>
<option value="Deep House">Deep House</option>
<option value="Slap House">Slap House</option>
<option value="Tech House">Tech House</option>
<option value="Minimal House">Minimal House</option>
<option value="Piano House">Piano House</option>
<option value="Deep Tech House">Deep Tech House</option>
<option value="Dubstep">Dubstep</option>
<option value="Dance">Dance</option>
<option value="Dancehall">Dancehall</option>
<option value="Drum & Bass">Drum & Bass</option>
<option value="Dubstep">Dubstep</option>
<option value="Electro">Electro</option>
<option value="Techno">Techno</option>
<option value="Trance">Trance</option>
<option value="Trap">Trap</option>
<option value="Hardcore">Hardcore</option>
<option value="Hardstyle">Hardstyle</option>
<option value="Rock">Rock</option>
<option value="Pop">Pop</option>
<option value="Indie">Indie</option>
<option value="Alternative">Alternative</option>
<option value="Jazz">Jazz</option>
<option value="Blues">Blues</option>
<option value="Classical">Classical</option>
<option value="Country">Country</option>
<option value="Folk">Folk</option>
<option value="Funk">Funk</option>
<option value="Gospel">Gospel</option>
<option value="Hip Hop">Hip Hop</option>
<option value="Heavy Metal">Heavy Metal</option>
<option value="House">House</option>
<option value="Indie Rock">Indie Rock</option>
<option value="Instrumental">Instrumental</option>
<option value="Jazz & Blues">Jazz & Blues</option>
<option value="Latin">Latin</option>
<option value="Metal">Metal</option>
<option value="New Age">New Age</option>
<option value="Opera">Opera</option>
<option value="Piano">Piano</option>
<option value="Pop Rock">Pop Rock</option>
<option value="R&B">R&B</option>
<option value="Rap">Rap</option>
<option value="Reggae">Reggae</option>
<option value="Reggaeton">Reggaeton</option>
<option value="Rock & Roll">Rock & Roll</option>
<option value="Soul">Soul</option>
<option value="Soundtrack">Soundtrack</option>
<option value="Synthwave">Synthwave</option>
<option value="Trip Hop">Trip Hop</option>
<option value="World">World</option>
<option value="Other">Other</option>    