<div class="card w-96 bg-base-100 shadow-xl">
    {% if post.isMedia == 1 %}
    <figure class="px-10 pt-10">
        <img src="https://fypkmpsr.s3.eu-west-1.amazonaws.com/{{post.media}}" alt="{{post.media}}" class="rounded-xl" />
    </figure>
    {% endif %}
    <div class="card-body items-center text-center">

        <span class="block">

            {% include 'partials/user-photo.html' %}

            {{post.user_id.fullname}}
            <i>@{{post.user_id.username}}</i>

            {% if post.user_id == current_user %}

            <label for="editPostModal" class="btn btn-outline modal-button"><i
                    class="fa-solid fa-pen-to-square"></i></label>

            <label for="deletePostModal" class="btn btn-outline modal-button"><i
                    class="fa-solid fa-trash-can"></i></label>

            {% endif %}

        </span>

        {% if post.isEdited == 0 %}

        <span class="block"><i class="fa-solid fa-clock"></i> {{post.timestamp}}</span>

        {% else %}

        <span class="block"><i>edited</i> <i class="fa-solid fa-clock-seven"></i> {{post.editedTimestamp}}</span>

        {% endif %}

        <div class="card-actions">
            <p> {{post.content}} </p>
        </div>

        <span class="block">

            {% if current_user.hasUserLiked(post.id) %}

            <a href="/post/unlike/{{post.id}}" class="btn btn-outline unlike"><i class="fa-solid fa-thumbs-down"></i>
                Unlike - <i class="fa-solid fa-thumbs-up"></i> {{post.numLikes}} Likes</a>

            {% else %}

            {% if post.numLikes == 0 %}

            <a href="/post/like/{{post.id}}" class="btn btn-outline like"><i class="fa-solid fa-thumbs-up"></i> Like</a>

            {% else %}

            <a href="/post/like/{{post.id}}" class="btn btn-outline like"><i class="fa-solid fa-thumbs-up"></i>
                {{post.numLikes}} Likes</a>

            {% endif %}

            {% endif %}

            {% if post.numComments == 0 %}

            <a href="/post/{{post.id}}" class="btn btn-outline"><i class="fa-solid fa-comment"></i> Comment</a>

            {% else %}

            <a href="/post/{{post.id}}" class="btn btn-outline"><i class="fa-solid fa-comment"></i> {{post.numComments}}
                Comments</a>

            {% endif %}

        </span>
    </div>
</div>

<input type="checkbox" id="editPostModal" class="modal-toggle">
<div class="modal">
    <div class="modal-box relative">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                {% if post.isMedia == 0 %}
                <form method="POST" action="/post/edit/{{song.id}}" enctype="multipart/form-data">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Content</span>
                        </label>
                        <textarea class="textarea textarea-bordered" name="content" id="content"
                            value="{{post.content}}"></textarea>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
                {% else %}
                <form method="POST" action="/post/edit/media/{{song.id}}" enctype="multipart/form-data"></form>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Content</span>
                    </label>
                    <textarea class="textarea textarea-bordered" name="content" id="content"
                        value="{{post.content}}"></textarea>
                </div>
                <div class="form-control">
                    <label class="label cursor-pointer">
                        <span class="label-text">Media</span>
                        <input type="file" name="media" id="media" value="{{post.media}}" class="input input-bordered">
                    </label>
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<input type="checkbox" id="deletePostModal" class="modal-toggle">
<div class="modal">
    <div class="modal-box relative">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <p>Are you sure?</p>
                {% if post.isMedia == 0 %}
                <form method="POST" action="/post/delete/{{post.id}}" enctype="multipart/form-data">
                    <div class="form-control mt-6">
                        <button class="btn btn-error" type="submit">Delete</button>
                    </div>
                </form>
                {% else %}
                <form method="POST" action="/post/delete/media/{{post.id}}" enctype="multipart/form-data">
                    <div class="form-control mt-6">
                        <button class="btn btn-error" type="submit">Delete</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>