<input type="checkbox" id="editPostModal" class="modal-toggle">
<div class="modal">
    <div class="modal-box relative">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <form method="POST" action="/post/edit/media/{{song.id}}" enctype="multipart/form-data"></form>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Content</span>
                    </label>
                    <textarea class="textarea textarea-bordered" name="content" id="content"
                        placeholder="What's popping?"></textarea>
                </div>
                <div class="form-control">
                    <label class="label cursor-pointer">
                        <span class="label-text">Media</span>
                        <input type="file" name="media" id="media" class="input input-bordered">
                    </label>
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary" type="submit">Create Post</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>