{% include 'partials/user-photo.html' %}

<br />

<center>
    {{user.fullname}} / @{{user.username}}
</center>

<br />

<center>
    {{user.description}} / Joined @{{ moment(user.timestamp).format('LL') }}
</center>

<br />

{% if following_count != 0 and followers_count != 0 %}

<center>
    <a href="/following">Following : {{following_count}}</a> / <a href="/followers">Followers : {{followers_count}}</a>
</center>

{% else %}

<center>
    <p>No Followers or Following</p>
</center>

{% endif %}

<br />