<div class="d-flex text-muted pt-3">

    {% include 'partial/user-photo.html' %}

    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
            <strong class="text-gray-dark">{{user.fullname}}<span
                    class="d-block"><i>@{{user.username}}</i></span></strong>
            {% if user != current_user %}
            {% if not user in current_user.following() %}

            <a href="{{ url_for('profile.follow', username=user.username) }}"
                class="btn btn-secondary-outline btn-sm text-gray-dark"><i class="bi bi-person-plus"></i>Follow</a>

            {% else %}

            <a href="{{ url_for('profile.unfollow', username=user.username) }}"
                class="btn btn-secondary-outline btn-sm text-gray-dark"><i class="bi bi-person-dash"></i>Unfollow</a>

            {% endif %}
            {% endif %}
        </div>
        <!--<span class="d-block">@{{user.username}}</span>-->
    </div>
</div>