<center>

    {% if not user.profilePicture %}

    <img src="../../static/images/default_profile_picture.png" class="bd-placeholder-img flex-shrink-0 me-2 rounded"
        height="128" width="128" alt="Default Profile Picture" role="img" aria-label="Placeholder: 128x128"
        preserveAspectRatio="xMidYMid slice" focusable="false">

    {% else %}

    <img src="https://fypkmpsr.s3.eu-west-1.amazonaws.com/{{user.profilePicture}}"
        class="bd-placeholder-img flex-shrink-0 me-2 rounded" height="128" width="128" alt="{{user.username}}"
        role="img" aria-label="Placeholder: 128x128" preserveAspectRatio="xMidYMid slice" focusable="false">

    {% endif %}

</center>

<br />

<center>
    {{user.fullname}} / @{{user.username}}
</center>

<br />

{% if user != current_user %}
{% if not user in current_user.following() %}

<center>
    <a href="{{ url_for('profile.follow', username=user.username) }}" class="btn btn-sm btn-secondary-outline"><i
            class="bi bi-person-plus-fill"></i>Follow</a>

    {% else %}

    <a href="{{ url_for('profile.unfollow', username=user.username) }}" class="btn btn-sm btn-secondary-outline"><i
            class="bi bi-person-dash-fill"></i>Unfollow</a>
</center>

<br />

{% endif %}
{% endif %}

<center>
    {{user.description}} / Joined @{{ moment(user.timestamp).format('LL') }}
</center>

<br />

{% if following_count != 0 and followers_count != 0 %}

<center>
    <a href="/following">Following : {{following_count}}</a> / <a href="/followers">Followers : {{followers_count}}</a>
</center>

{% else %}

<center>
    <p>No Followers or Following</p>
</center>

{% endif %}

<br />