<!doctype html>
<html lang="en" data-theme="business">

<head>

  {{ moment.include_moment() }}

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Daisy UI + Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.13.6/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <!-- SocketIO -->
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>

  <!-- wavesurfer.js -->
  <script src="https://unpkg.com/wavesurfer.js@6.1.0/dist/wavesurfer.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.4/wavesurfer.min.js" integrity="sha512-mhqErQ0f2UqnbsjgKpM96XfxVjVMnXpszEXKmnJk8467vR8h0MpiPauil8TKi5F5DldQGqNUO/XTyWbQku22LQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
  <!--<script src="{{ url_for('static', filename='node_modules/wavesurfer.js/dist/wavesurfer.js')}}"></script>-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
    integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/b05fd6925b.js" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/htmx.org@1.7.0"
    integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"
    defer></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/aplayer/dist/aplayer.min.css') }}">
  <script src="{{ url_for('static', filename='node_modules/aplayer/dist/aplayer.min.js') }}"></script>

  <script
    src="{{ url_for('static', filename='node_modules/bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
  <link rel="import"
    href="{{ url_for('static', filename='node_modules/bower_components/paper-audio-player/paper-audio-player.html') }}">

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
  <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>

  <script src="{{ url_for('static', filename='js/chat_page.js') }}"></script>

  <title>{% block title %}{% endblock %} KMPSR </title>
</head>

<body>
  <div class="content">
    <header>
      {% include "static/header.html" %}
    </header>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </symbol>
    </svg>

    {% with infos = get_flashed_messages(category_filter=["info"]) %}
    {% if infos %}
    {%- for msg in infos %}
    <br />
    <center>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
          <use xlink:href="#info-fill" />
        </svg>
        <strong>On the behalf of the freedom of information act!</strong> {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor -%}
      {% endif %}
      {% endwith %}

      {% with successs = get_flashed_messages(category_filter=["success"]) %}
      {% if sucesss %}
      {%- for msg in sucesss %}
      <br />
      <center>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
          </svg>
          <strong>Big up yourself!</strong> {{ msg }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor -%}
        {% endif %}
        {% endwith %}

        {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
        {% if warnings %}
        {%- for msg in warnings %}
        <br />
        <center>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
              <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <strong>Great googly moogly!</strong> {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor -%}
          {% endif %}
          {% endwith %}

          {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
          {% if warnings %}
          {%- for msg in warnings %}
          <br />
          <center>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill" />
              </svg>
              <strong>Great googly moogly!</strong> {{ msg }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            {%- for msg in errors %}
            <br />
            <center>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                  <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <strong>Holy s#@t!</strong> {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor -%}
              {% endif %}
              {% endwith %}

              {% block content %}

              {% endblock %}

  </div>

  <footer class="footer">
    {% include "static/footer.html" %}
  </footer>

  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
</body>

</html>