{% extends "base.html" %}

{% block content %}

<table style="height: 100px;">
  <tbody>
    <tr>
      <td class="align-middle">
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">Welcome to KMPSR!</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Where fans meet the artists. Where artists meet their colleagues. Where collaboration happens. Where discussions arise. Get connected. Be composed.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="/register" type="button" class="btn btn-primary btn-lg px-4 gap-3">Register Now</a>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4" id="btnAdd">Install App</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}