{% extends "base.html" %}
{% block content %}

<div id="vertical-center" class="jumbotron">
<div class="container">

    <div class="row">

        <div class="col-lg-6 col-md-6 p-3">
            <div class="jumbotron">
                <h1 class="display-4">Get Started!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention
                    to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.
                </p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 p-3">
            <div id="carouselIndex" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://image.freepik.com/free-photo/jocund-woman-listening-favorite-song_197531-16485.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://image.freepik.com/free-photo/long-haired-woman-bright-blouse-white-pink-headphones-listening-music-isolated-wall_197531-14247.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://image.freepik.com/free-photo/cute-european-man-smiles-listens-something-headphones_8353-10108.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://image.freepik.com/free-photo/surprised-european-woman-listens-great-song-headphones-shocked-with-too-loud-volume-picks-song-playlist-decided-what-listen-wears-stylish-clothes_273609-43543.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://image.freepik.com/free-photo/pleased-little-girl-with-hair-bun-wears-striped-jumper-giggles-positively-listens-audio-track-headset-has-upbeat-mood-smiles-toothily-enjoys-favorite-song-isolated-yellow-wall_273609-42318.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://image.freepik.com/free-photo/portrait-attractive-young-woman-dressed_171337-6070.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://image.freepik.com/free-photo/horizontal-shot-good-looking-afro-american-woman-feels-very-happy-holds-modern-smartphone-hand-wears-stereo-headphones-points-aside-blank-space-blue-background-leisure-concept_273609-45236.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://image.freepik.com/free-photo/move-your-body-glad-bearded-man-dances-wireless-headphones-enjoys-favorite-song-sings-happily-dressed-casually-isolated-beige-studio-wall-uses-best-music-app_273609-53900.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://image.freepik.com/free-photo/half-length-shot-positive-guy-smiles-screen-smartphone-has-online-conversation-chat-forgets-about-all-problems_273609-27722.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}